@model ShoppingList.Models.UserItemView
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Delete Item</title>
</head>
<body>
    <table>
        <tr>
            <td>Id</td>
            <td>ItemName</td>
            <td>Quantity</td>
            <td>Time</td>
            <td>IsUrgent</td>
            <td>UserId</td>
        </tr>
        @foreach (var item in Model.listitem)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.ItemName</td>
                <td>@item.Quantity</td>
                <td>@item.Time</td>
                <td>@item.IsUrgent</td>
                <td>@item.UserId</td>
                <td>
                    <form action="/DeleteItem/{name}" method="delete">
                        <input type="hidden" name="Id" value="@item.Id"/>
                        <input type="hidden" name="name" value="@Model.user.Name" />
                        <button type="submit">Delete Item</button>
                    </form>
                </td>
            </tr>
        }
    </table>
</body>
</html>